<!DOCTYPE HTML>
<html lang="en">
<head> 
    <meta charset="utf-8">
    <title> Portfolio </title>
    <meta name="description" content="random word django assigment">
    {%load staticfiles%}
    <link rel="stylesheet" href="{% static 'firstapp/css/stylesheet.css'%}">
</head>
<body>
<div class="wrapper">

<h1> Random Word:(attempt #{{request.session.count}}) </h1>
<div style="border: 2px solid black; width:15%">{{request.session.word}} </div> 

    <form class="myform" action='/generate' method='post'>
        {% csrf_token %}
        <input type='submit' value='Generate'>
    </form>


</div>
</body>
</html>