<!DOCTYPE HTML>
<html lang="en">
<head> 
    <meta charset="utf-8">
    <title> DojoSecrets </title>
    <meta name="description" content="survey form">
    {%load staticfiles%}
    <link rel="stylesheet" href="{% static 'firstapp/css/stylesheet.css'%}">
</head>
<body>
<div class="wrapper">
    <div class="header">
    <p> <a class="logout" href="/logout"> <button>Logout</button>> </a> </p>
    <h1> User {{request.session.loggedinUser}} is currently logged in </h1>
    </div>
    <!-- flash messages --> 
    {% if messages %}
        {% for message in messages %}
            <p style="color: red"> {{message}}<p>
        {% endfor %}
    {% endif %}
    <!-- Post Secrets --> 
    <form class="myform" action='/postsecret' method='post'>
    {% csrf_token %}
        <textarea name="secret" rows="4" cols="50" style="width: 50%"placeholder="Write a message!"></textarea>
        <input type='submit' value='Post Message'>
    </form>
   
    <!-- for in loop to post all secrets --> 
    {% for secret in secrets %}
    <div class="secret">
    <p><strong> {{secret.created_at}} </strong> </p>
    <p> Secret ID: {{secret.id}} </p>


    <p> Number of likes: {{likescount.3}} </p>


    <p> {{secret.message}} </p> 
    <p> This secret was written by {{secret.user.firstName}} {{secret.user.lastName}} </p>
    
    <!-- like button --> 
    <form class="likesform" action='/likesecret/{{secret.id}}' method='post'>
        {% csrf_token %}
        <input type='submit' value='Like'>
    </form>


    <!-- for in loop to determine if user has liked a post --> 
    {% for like in likes %}
    {% if like.user_id == request.session.loggedinUser and secret.id == like.secret_id %}
        <p><strong> You liked this </strong> </p> 
    {% endif %}
    {% endfor %}

    <!-- delete button --> 
    <form class="deleteform" action='/deletesecret/{{secret.id}}' method='post'>
        {% csrf_token %}
        <input type='submit' value='Delete'>
    </form>    




    </div>
    {% endfor %}

</div>
</body>
</html>