<!DOCTYPE HTML>
<html lang="en">
<head> 
    <meta charset="utf-8">
    <title> add book </title>
    <meta name="description" content="belt review assignment">
    {%load staticfiles%}
    <link rel="stylesheet" href="{% static 'firstapp/css/stylesheet.css'%}">
</head>
<body>
<div class="wrapper">
    <h1> Add a book: </h1>

    <form class="myform" action='/books/addreview' method='post'>
        {% csrf_token %}
        <input type="text" name="title" placeholder="Book Title">
        <input type="text" name="newauthor" placeholder="Add New Author">
        {% for author in athors %}
        <select value='{{author.id}}'> {{author.name}} </select>
        {% endfor %}
        <textarea value="review" rows="4" cols="50"> Review </textarea>
        <input type="number" name="rating" min="1" max="5" placeholder="stars">
        <input type='submit' value='Submit'>
    </form>


    <!-- flash messages --> 
    {% if messages %}
        {% for message in messages %}
            <p class=flash> {{message}}<p>
        {% endfor %}
    {% endif %}


</div>
</body>
</html>