<!DOCTYPE HTML>
<html lang="en">
<head> 
    <meta charset="utf-8">
    <title> Beltreview </title>
    <meta name="description" content="belt review assignment">
    {%load staticfiles%}
    <link rel="stylesheet" href="{% static 'firstapp/css/stylesheet.css'%}">
</head>
<body>
<div class="wrapper">
    <a href="/books"> <button>Home</button></a>
    <div class="top">
    <h1> Reviews for {{reviews.0.book.title}} by {{reviews.0.book.author.name}}</h1>
    {% for review in reviews %}
    <div style="margin:5px;background-color:white">
    <h3> {{review.created_at}}
    <h4> Review by: {{review.user.firstName}} {{review.user.lastName}} 
    <p> {{review.content}}</p> 
    <img src="/static/firstapp/img/{{review.rating}}.png" style="width:10%;position:relative;right:200px">
    </div>
    {% endfor %}
    <!-- flash messages --> 
    {% if messages %}
        {% for message in messages %}
            <p class=flash> {{message}}<p>
        {% endfor %}
    {% endif %}

</div>
</body>
</html>