<!DOCTYPE HTML>
<html lang="en">
<head> 
    <meta charset="utf-8">
    <title> Notes </title>
    <meta name="description" content="Notes">
    {%load staticfiles%}
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <link rel="stylesheet" href="{% static 'firstapp/css/stylesheet.css'%}">
</head>
<body>
<div class="wrapper" style="width: 1000px">
    <!-- flash messages --> 
    {% if messages %}
        {% for message in messages %}
            <p class=flash> {{message}}<p>
        {% endfor %}
    {% endif %}
    <a href="/logout"> <button>Logout</button></a>
    <h1> Notes </h1>
    {% for note in notes %}
    <div style="width:200px; height: 200px; background-color: lightgoldenrodyellow; margin:10px; display: inline-block">
    <p> {{note.content}} </p> 
    </div>
    {% endfor %}

    <br>
    <h1> Add Note: </h1>
    <form class="myform" action='/notes/add' method='post'>
        {% csrf_token %}
        <textarea name="content" rows="4" cols="50"></textarea>
        <input type='submit' value='Submit'>
    </form>
</div>
</body>
<script>
$('form').submit(function(e){
    e.preventDefault()
    $.ajax({
        url: '/notes/add',
        method: 'post',
        data: $(this).serialize(),
        success: function(serverResponse){
        console.log("Received this from server: ", serverResponse)
        console.log("I should probably put that in the DOM...")
    }
  })
})
</script>
</html>